.widgets {
  flex: .35;
  padding: 20px 20px 0;
}

.widgets--input {
  display: flex;
  align-items: center;
  background-color: var(--twitter--background);
  padding: 10px;
  border-radius: 20px;
  margin-bottom: 20px;
}

.widgets--input > input {
  border: none;
  background-color: var(--twitter--background);
}

.widgets--searchIcon {
  color: gray;
}

.widgets--widgetContainer {
  background-color: #f5f8fa;
  padding: 20px 15px;
  border-radius: 20px;
}

.widgets--widgetContainer > h2 {
  font-size: 18px;
  font-weight: 800;
  margin-top: 0;
}